{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center">{{ title }}</h1>
        <div class="card-deck">
            <div class="row">
                {% for lgf in lgfs %}
                    <div class="card col-6">
                        <div class="card-body">
                            <h5 class="card-title">{{ lgf.name }}</h5>
                            <p class="card-text">{{ lgf.description }}</p>
                            <a href="{{ url_for('leads.department_leads', dep_id=dep_id, lgf_id=lgf.id) }}" class="btn btn-primary">Assign managers</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
