{% extends 'layout.html' %}
{% block content %}
    <div class="container">
    <h1 class="my-4 text-center">OGT IT LEADS</h1>
    <div class="container mt-5">
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Unmanaged Leads</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Managed leads</a>
        </li>
    </ul>
    <div class="tab-content mt-3" id="myTabsContent">
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="post" action=" {{ url_for('leads.department_leads',dep_id=dep_id, lgf_id=lgf_id ) }} ">
                <select class="form-select mb-4" name="manager_name" required>
                    <option value="" selected disabled>Select a manager</option>
                    {% for member in manager_names %}
                        <option value="{{ member._id }}">{{ member.name }}</option>
                    {% endfor %}
                </select>
                <div class="table-responsive">
                    <table id="leads" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="align-middle">
                                <input class="form-check-input" type="checkbox" name="eps" id="selectall" onclick="selectAllCheckboxes(this); togglebutton('selectall','sendtodep')">
                                Select All
                            </th>
                            <th class="bg-primary align-middle text-white">Source</th>
                            {% if data and data[0].lgf_questions %}
                                {% for key, value in data[0].lgf_questions.items() %}
                                    {% if key in visible_questions %}
                                        <th class="bg-primary align-middle text-white">{{ key }}</th>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if data %}
                            {% for document in data %}
                                <tr>
                                    <td class="align-middle">
                                        <div class="form-check d-inline">
                                            <label class="form-check-label">&nbsp;
                                                <input class="form-check-input" type="checkbox" name="selected"
                                                       id="{{ document._id }}" value="{{ document._id }}"
                                                       onchange="togglebutton('{{ document._id }}','sendtodep')">
                                            </label>
                                        </div>
                                    </td>
                                    <td class="align-middle">{{ document.lgf_name }}</td>
                                    {% for key, value in document.lgf_questions.items() %}
                                        {% if key in visible_questions %}
                                            <td class="align-middle">{{ value }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                No leads have been dispatched to this department yet.
                            </div>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <button TYPE="button" id="sendtodep" class="btn btn-primary position-fixed bottom-0 end-0 m-3"
                        style="display: none" data-bs-toggle="modal" data-bs-target="#managerModal">Submit
                </button>
                <!-- Modal -->
                    <div class="modal fade" id="managerModal" tabindex="-1" aria-labelledby="managerModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="managerModalLabel">Confirmation</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to send the selected leads to the selected department?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Send leads</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
            {% include 'filterModal.html' %}
        </div>
        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <div class="container">
                <h1 class="my-4 text-center">Dispatched Leads</h1>
                    <div class="table-responsive">
                        {% if assigned_leads %}
                            <table id="dispatched" class="table table-bordered table-striped table-success">
                                <thead>
                                    <tr>
                                        <th class="bg-primary align-middle text-white">Source</th>
                                        {% for key, value in assigned_leads[0].lgf_questions.items() %}
                                            <th class="bg-primary align-middle text-white">{{ key }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for document in assigned_leads %}
                                        <tr>
                                            <td class="align-middle">{{ document.lgf_name }}</td>
                                            {% for key, value in document.lgf_questions.items() %}
                                                <td class="align-middle">{{ value }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                No leads have been managed to this lgf yet.
                            </div>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
