body {
    background-color: #f5f5f5;
}

td,th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Optional: Adds ellipsis (...) for text that overflows the cell */
}

leads_filter {
    margin-bottom: 5px;
}

@media screen and (max-width: 444px) {
    .loginBtn {
        width:100%;
        text-wrap: nowrap;
    }
}